<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="DBConnStrings" value="Data Source=imran02cuet;User ID=sa;Password=711218710709455a454e;Initial Catalog=ESS;Connect Timeout=0"/>
  </appSettings>
  
</configuration>

